# Mesothelioma Related Deaths in England (1968-2021)

## The Dataset

In [3]:
import pandas as pd
import numpy as np

# Reading the dataset and storing at variabel meso_deaths
meso_deaths = pd.read_csv('./dataset/Mesothelioma_Deaths_in_England_1968_2021.csv')
display(meso_deaths.head())

   Year     GSS ID      Region Gender  Mesothelioma Death Recorded
0  1968  E12000001  North East   Male                           11
1  1969  E12000001  North East   Male                            9
2  1970  E12000001  North East   Male                           14
3  1971  E12000001  North East   Male                            9
4  1972  E12000001  North East   Male                           18

Note: the data in the dataset is already well inserted - thanks to Kaggle -, so there will be no need for dropping null values or treating NaN, for example

In [8]:
# Copying the dataset to X so it can be used without modifying the original one
X = meso_deaths.copy()

# Getting the target into y
y = X.pop('Mesothelioma Death Recorded')

In [27]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split

# Separating categorical features from numerical features
features_cat = ['GSS ID', 'Region', 'Gender']
features_num = ['Year']

# Preprocessing
preprocessor = make_column_transformer(
    (StandardScaler(), features_num),
    (OneHotEncoder(), features_cat),
)

# Splitting the data into test and train
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.4, random_state=0)

# Using preprocessor
X_train = preprocessor.fit_transform(X_train)
X_valid = preprocessor.transform(X_valid)

# Getting the input_shape
input_shape = [X_train.shape[1]]
print(input_shape)

[21]